<div class="container-fluid m-0 p-0">

    <ul class="m-0 p-0">
        
        <li *ngFor="let items of _S_TotalListOfItems; let i = index" class="Items">
            <div class="card m-3" style="height: 450px">
                <img [src]="ListOfProductImages[i]" class="card-img-top" alt="CardImage"
                    style="height: 200px;width: 200px;margin-left: auto;margin-right: auto;">
                <div class="card-body">
                    <h5 class="card-title">₹{{items.ItemPrice}}</h5>
                    <h6 class="card-title">{{items.ItemName}}</h6>
                    <p class="card-text">{{items.ItemDescription}}</p>
                    <p class="btn btn-warning justify-content-end w-100" (click)="IncreaseProductQuantity(items,ListOfProductImages[i])">Add to cart</p>
                    <!-- <h6 *ngIf="items.NumberOFItemsAddedInCart > 0">Qty Added: {{items.NumberOFItemsAddedInCart}}</h6> -->
                    <!-- <p *ngIf="items.NumberOFItemsAddedInCart > 0" class="btn btn-success mx-1" (click)="IncreaseProductQuantity(items,ListOfProductImages[i])">+{{items.NumberOFItemsAddedInCart}}</p>
                    <p *ngIf="items.NumberOFItemsAddedInCart > 0" class="btn btn-danger me-1" (click)="DecreaseProductQuantity(items,ListOfProductImages[i])">-</p> -->
                </div>
            </div>
        </li>
           </ul>
</div>